doctype html
html(lang='en', ng-app="airlock")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='A Websocket server for Windows ICredentials Hack.')
		title AirLock
		link(rel='stylesheet', href='css/theme.css')
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/angular/angular.min.js')
		script(type='text/javascript', src='js/angular/angular-socket.js')
		script(type='text/javascript', src='js/socket.io.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='js/airlock.js')
				
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		//if lt IE 9
			script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js')
	body
		.container
			block content