extends airlock

block content
    .airlock(ng-controller="mainCtrl")
        nav.navbar.navbar-default(role='navigation')
            .container-fluid
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='#') AirLock C&C
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav

                  form.navbar-form.navbar-left(role='search')
                    .form-group
                      input.form-control(type='text', placeholder='Filter', ng-model="query")
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='#', ng-show="connected == false")
                        span.label.label-warning Not Connected
                      a(href='#', ng-show="connected == true")
                        span.label.label-success Connected
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Options
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='#') Action
                        li
                          a(href='#') Another action
                        li
                          a(href='#') Something else here
                        li.divider
                        li
                          a(href='#', ng-show='connected = true', ng-click="disconnect()") Disconnect
        .row
            .col-md-12
                .jumbotron
                    h1 An App for remotly locking Workstation&period;

                
        .row
            .col-md-12
                h3.content-subhead
                    i.fa.fa-rocket
                    | Available Hosts
                

                table.table.table-bordered
                    thead
                        tr
                            th Status
                            th Hostname
                            th UID
                            th Username
                            th Actions 
                                a(href="javascript:;", ng-click="refresh()")
                                    i.fa.fa-refresh
                    tbody
                        tr(ng-repeat="(id, host) in hosts | filter:query")
                            td
                                span(ng-show="host.alive")
                                    i.fa.fa-heart
                                span(ng-show="!host.alive")
                                    i.fa.fa-heart-o
                            td {{host.hostname}}
                            td {{host.userId}}
                            td {{host.username}}
                            td
                                a(href="javascript:;", ng-click="lock(host)", data-toggle="modal" data-target="#pwdModal").btn.btn-warning.btn-sm
                                    i.fa.fa-lock
                                a(href="javascript:;", ng-click="shell(host)", data-toggle="modal" data-target="#shellModal").btn.btn-warning.btn-sm
                                    i.fa.fa-terminal
                                a(href="javascript:;", ng-click="").btn.btn-warning.btn-sm
                                    i.fa.fa-desktop
                                a(href="javascript:;", ng-click="exit(host)").btn.btn-danger.btn-sm
                                    i.fa.fa-sign-out
        .modal.fade#pwdModal
            .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title User Password
                  .modal-body
                    pre {{password}}
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save Password

        .modal.fade#shellModal
            .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Shell > {{shell.hostname}}
                  .modal-body
                    textarea(ng-model="shell.output", cols="70", rows="10").form-control
                    .input-group.input-group-sm
                        input(type="text", ng-model="shell.cmd", placeholder="_>").form-control
                        span.input-group-btn
                            button.btn.btn-success(type="button", ng-click='submitCmd(shell.hostname)')
                                i.fa.fa-terminal
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
        
        #ajaxOverlay(ng-show="connected == false")
            #ajaxSpinner

    footer.row
        .col-md-12
            p(style="text-align:center;")
                small by Franquis